#maintitle {
  text-align: center;
  font-size: 50px;
}

#img1 {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#albumlist {
  font-style: italic;
}

body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg");
  background-size: 100% 100%;
}

.info {
  background-color: white;
  border: solid black;
  font-size: 18px;
  text-align: justify;
  margin: 50px;
  display: block;
}